.login{

    text-align: center;
    padding: 5px;
    
}

.weight{
    text-align: center;
    margin-top: 10%;
    padding: 5px;
}

.login2{

    text-align: center;
    margin-top: 10%;
}

.weight{
    text-align: center;
}